# Firebase Web SDK config for frontend
VITE_FIREBASE_API_KEY="AIzaSyClR22BP0PESzrRKF2WmYuFUeClYaEUz9E"
VITE_FIREBASE_AUTH_DOMAIN="crowdsourced-civic-issue-1f5fe.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="crowdsourced-civic-issue-1f5fe"
VITE_FIREBASE_STORAGE_BUCKET="crowdsourced-civic-issue-1f5fe.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="421915197302"
VITE_FIREBASE_APP_ID="1:421915197302:web:92336fe901fe88568a4457"

# API base URL (optional, defaults to /api)
VITE_API_BASE_URL=
